
.gbc_ImageWidget.gbc_fixedSvg > svg {
	min-width: 24px;
	min-height: 24px;
	margin: auto;
}

[__ButtonWidget].mt-button {
	color: $gbc-primary-light-color;
	background: linear-gradient( $gbc-primary-medium-color, $gbc-primary-color );
	padding: $gbc-margin-ratio*2px;
	padding-right: 4px;
	>.gbc_imageContainer {
		> .gbc_ImageWidget {
			min-width: 24px;
			min-height: 24px;
			max-width: 48px;
			max-height: 48px;
			overflow: hidden;
		}
	}
	svg {
		fill: $gbc-primary-light-color;
		fill-opacity: 1;
	}
}
