.gbc_CustCssBoxWidget {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  align-items: flex-start;
  align-content: flex-start;
  .g_measured &> *.g_measureable {
    width: 200px !important;
    height: auto !important;
  }
}
