.gbc_MyEditWidget {
  > .title {
    padding: 0 5px;
    font-size: 8pt;
    color: $gbc-primary-medium-color;
    text-transform: none;
  }
  input {
    flex: 1 1 0;
    line-height: 32px;
    width: 100%;
    border-bottom: solid 2px $gbc-primary-light-color;
  }

  &.gbc_Focus input {
    border-bottom: solid 2px $gbc-primary-medium-color;
  }
}