.gbc_MyMainContainerWidget {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  > header {
    padding: .5em;
    color: $gbc-primary-light-color;
//    background-color: $gbc-primary-color;
    background: linear-gradient( $gbc-primary-medium-color, $gbc-primary-color );
    text-align: center;
  }
  > .containerElement {
    flex: 1 1 0px;
    position: relative;
  }
}

.MyHeaderBarWidget-banner {
  text-shadow: 1px 1px 2px black;
  font-size: 2em;
  text-align: center;
}
