.gbc_style_scrollable {
//	background-color: red;
	height: 1000px;
	overflow: auto;
}

.gbc_GroupWidgetContent > .gbc_GroupTitleWidget:not(.empty) {
	padding: 0px;
}

.gbc_GroupTitleWidget:not(.empty) {
	border-bottom: 2px solid $gbc-primary-color;
	margin: 2.4px 0 4.8px 0;
	text-shadow: 1px 1px 2px white;
	font-size: 1.5em;
	text-align: center;
	background: linear-gradient( $gbc-secondary-background-color, $gbc-primary-color );
}
