
body {
	-webkit-font-smoothing: antialiased;
	color: $gbc-primary-color;
	margin: 0px 0px 0px 0px;
	background: black;
}

.mt-tab-titles {
	fill: $gbc-CommandLinkWidget-ttf-color;
}

.vanished {
	width: 1px; 
}

// get rid of ugly empty toolbar nav butons
.gbc_ToolBarWidget .mt-tab-previous, .gbc_ToolBarWidget .mt-tab-next {
  width: 20px;
  &.vanished {
    width: 1px;
  }
}

.gbc_style_heading {
	border-radius: 15px 15px 15px 15px;
	font-size: 1.2em;
	font-weight: bold;
	padding: 1px 20px 1px 20px;
	margin: 0px;
	text-align: center;
	text-shadow: 1px 1px 2px $mt-black;
	color: $gbc-secondary-text-color;
	background-color: $gbc-primary-medium-color;
}

.gbc_style_hidden {
	background-color: inherit !important;
	display: none !important;
}

.gbc_style_center {
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: block;
}

.gbc_style_left {
	width: fit-content;
	margin-left: 0px;
	margin-right: auto;
	text-align: left;
	display: block;
}

.gbc_style_maxheight {
	height: 100% !important;
}

.gbc_style_formborder {
	border-radius: 15px 15px 15px 15px;
	border: solid 1px;
	padding: 5px;
}

.gbc_ImageWidget.stretch:not(.gbc_fixedSvg) {
	overflow: visible;
}

.gbc_ApplicationHostMenuBookmarkWidget {
	display: none !important;
}
