
body {
	-webkit-font-smoothing: antialiased;
	color: $gbc-primary-color;
	font-family: "Roboto",Arial,Verdana,Helvetica,sans-serif;
	margin: 0px 0px 0px 0px;
	background: black;
}

.gbc_UserInterfaceWidget > .gbc_barsContainer {
	color: $gbc-secondary-text-color;
	fill: $gbc-secondary-text-color;
}

.mt-field {
	color: $gbc-field-text-color;
	border: $gbc-secondary-color;
}

.gbc_DropDownContainerWidget:not(.hidden) {
  color: $gbc-field-text-color;
  fill: $gbc-field-text-color;
}

[__ComboBoxWidget].zmdi-menu-down {
	color: $gbc-primary-color;
}

.vanished {
	display: none;
}

.gbc_UserInterfaceWidget { 
	background: inherit;
	background-color: inherit;
}

.gbc_WindowWidget {
	background: inherit;
	background-color: inherit;
}

.gbc_style_heading {
	border-radius: 25px 25px 25px 25px;
	font-size: 1.2em;
	font-weight: bold;
	padding: 1px 20px 1px 20px;
	margin: 0px;
	text-align: center;
	text-shadow: 1px 1px 2px $mt-black;
	color: $gbc-secondary-text-color;
	background-color: $gbc-primary-medium-color;
}

.gbc_style_hidden {
	background-color: inherit !important;
	display: none !important;
}

.gbc_style_center {
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: block;
}

