.gbc_ModalWidget .mt-dialog-header .mt-dialog-title {
	padding-top: 1px;
	fill: $gbc-secondary-text-color;
}

.gbc_ModalWidget .mt-dialog-header .mt-dialog-actions {
	color: $gbc-secondary-text-color;
	fill: $gbc-secondary-text-color;
}

.gbc_ModalWidget .mt-dialog-header {
	background-color: $gbc-primary-medium-color;
	color: $gbc-secondary-text-color;
	fill: $gbc-secondary-text-color;
	padding: 5px 2px 2px 5px;
	margin-bottom: 5px;
}

