
.mt-tab-items[__FolderWidget] {
  background: linear-gradient($gbc-secondary-background-color, $gbc-primary-background-color);
}

.gbc_FolderWidget {
	background-color: inherit;
}
.gbc_PageWidget {
  background: linear-gradient($gbc-secondary-background-color, $gbc-primary-background-color);
}

.mt-tabs[__FolderWidget] {
	box-shadow: none;
}

.mt-tab-titles {
	color: $gbc-field-text-color;
	fill: $gbc-field-text-color;
}

.mt-tab-titles-bar[__FolderWidget] {
	margin: 0px;
	padding: 0px;
	border: none;
	border-bottom: 1px solid $gbc-secondary-text-color;
}

.mt-tab-titles-container[__FolderWidget=top] .mt-tab-title.mt-tab-current {
	border-top: 1px solid $gbc-primary-color;
	border-left: 1px solid $gbc-primary-color;
	border-right: 1px solid $gbc-primary-color;
	border-bottom: 1px solid $gbc-primary-light-color;
	background-color: $gbc-secondary-background-color;
}

.mt-tab-items[__FolderWidget] {
	border-bottom: 1px solid $gbc-primary-color;
	border-left: 1px solid $gbc-primary-color;
	border-right: 1px solid $gbc-primary-color;
	background-color: $gbc-secondary-background-color;
}
