
.gbc_GroupWidget {
	background-color: inherit;
}

.gbc_GroupWidgetContainer {
	border-radius: 15px 15px 15px 15px;
	border: 1px solid $gbc-primary-medium-color;
	box-shadow: none;
	padding: 5px;

	.containerElement {
		padding: 5px;
	}

	.gbc_GroupWidgetContent {

		.gbc_GroupTitleWidget:not(.empty) {
			border-radius: 15px 15px 0px 0px;
			font-size: 1.2em;
			font-weight: bold;
			padding: 1px;
			margin: 0px;
			text-align: center;
			text-shadow: 1px 1px 2px $mt-black;
			color: $gbc-secondary-text-color;
			background-color: $gbc-primary-medium-color;
		}
	}
}
