.gbc_MyHeaderBarWidget {
	color: $mt-white;
	background-color: $gbc-primary-medium-color;

	h1 {
		text-align: center;
		font-size: 1.2em;
	}

	b {
		text-align: center;
		position: center;
		font-size: 0.8em;
	}
}

