.gbc_MyHeaderBarWidget {
	color: $mt-white;
	background-color: $gbc-primary-medium-color;

	h1 {
		text-align: center;
		font-size: 1.2em;
	}

	b {
		font-size: 0.8em;
	}
}


.MyHeaderBarWidget-title {
	margin-left: auto;
	margin-right: auto;
}

.gbc_MyMainContainerWidget > header {
	text-align: center;
}
