.gbc_MySessionEndWidget {
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  display: normal;
}
.myHeaderText {
	display: none;
}
[__MySessionEndWidget].mt-card {
  padding: 16px 16px 16px 16px;
  margin: 10px 0px 10px 0px;
	background-color: $gbc-primary-background-color;
	font-size: 12pt;
  text-align: center;
}
[__MySessionEndWidget].mt-card-body {
  padding: 16px;
}
[__MySessionEndWidget].mt-card-session {
  text-align: center;
  padding: 6px;
  margin: 0px;
	background-color: $gbc-secondary-background-color;
	font-size: 8pt;
}
[__MySessionEndWidget].mt-card-header-text {
	margin-left: auto;
	margin-right: auto;
	font-size: 14pt;
	line-height: 20px;
	padding: 4px;
	border-bottom: 1px solid;
}
.mt-card > .mt-card-richhead {
	height: initial;
	position: relative;
	border-bottom: none;
  text-align: center;
}
[__MySessionEndWidget].session {
	padding: 10px 6px 6px 6px;
	border: none;
}
[__MySessionEndWidget].message {
	border: none;
}
[__MySessionEndWidget].message, [__MySessionEndWidget].mt-actions {
  margin: 0px;
}
[__MySessionEndWidget].mt-actions {
	padding: 6px;
}
[__MySessionEndWidget].mt-action {
  margin-bottom: 2px;
	padding: 0px;
}
[__MySessionEndWidget].mt-card-actions {
  margin-bottom: 4px;
}
[__MySessionEndWidget].redirectionLink {
  display: none;
}
