
.gbc_UserInterfaceWidget > .gbc_barsContainer {
  color: $gbc-primary-medium-color;
  fill: $gbc-CommandLinkWidget-ttf-color;

	.gbc_topMenuContainer {
  	border-bottom: $gbc-primary-medium-color 1px solid;
	}
}

/* concerns element in DropDown */
.gbc_DropDownContainerWidget {
  fill: $gbc-CommandLinkWidget-ttf-color;
}

.gbc_ChoiceDropDownWidget > div:not(.disabled):hover, .gbc_ChoiceDropDownWidget > div:not(.disabled).current {
	background-color: $gbc-TopMenuWidget-hover-color;
}
